WCFMVC/WCFMVC.Web/Service References/ServiceReference1/UserServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMVC.ModelObject.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServices_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_UpdateUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserName" />
  </wsdl:message>
  <wsdl:message name="IUserServices_UpdateUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServices">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetUserInfo" message="tns:IUserServices_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetUserInfoResponse" message="tns:IUserServices_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/UpdateUserName" message="tns:IUserServices_UpdateUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/UpdateUserNameResponse" message="tns:IUserServices_UpdateUserName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IUserServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserName">
      <soap:operation soapAction="http://tempuri.org/IUserServices/UpdateUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServices">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:8081/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>